*
{
	margin: 0;
	padding: 0;
}

table, th, tr, td
{

	border: 1px solid white;
	margin-bottom: 2%;

}

table, th
{

	border: 1px solid white;

}

tr, td
{

	padding: 5px;
	text-align: center;

}

.hide-scrollbar::-webkit-scrollbar
{
	display: none;
}

.navbar
{

	text-align: center;
	list-style: none;

}

.navbar li
{

	display: inline;

}

.navbar a
{

	color: purple;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;

}

.navbar li.active a
{

	border: 1px solid black;

}

.navbar li a:hover
{

	border: 1px dotted black;
	color: blue;

}

html, body
{

	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;

}

.logo
{

	padding-left: 50px;

}

.logo img
{

	padding-top: 0px;
	width: 100px;
	height: auto;
	display: inline;
	float: left;

}

.links
{

	display: inline;
	float: center;

}

body
{

	font-family: monospace;

}

.row
{

	margin: auto;

}

.about-list
{
	position: absolute;
	top: 25%;
	left: 1%;
}

.about-txt
{
	background-image: linear-gradient(rgba(250,250,250), rgba(0,0,0), rgb(250,0,0));
	font-family: monospace, sans-serif;
	font-size: 12pt;
	padding-left: 1%;
	padding-top: 2%;
	padding-bottom: 2%;

}

.about-txt p
{

	text-indent: 0%;

}

.career-txt
{
	background-image: url("images/career-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.current
{

	font-family: "Roboto", sans-serif;
	color: white;
	padding-left: 2%;
	padding-top: 25%;

}

.current h1
{

	font-size: 16pt;

}

.education-txt
{

	background-image: url("images/freshman-hill-snow.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:  100%;
	padding-left: 1%;
	padding-top: 2%;
	padding-bottom: 2%;

}

.education-txt p
{

	color: black;
	font-size: 12pt;
	font-family: monospace, sans-serif;

}

.education-txt h1
{

	color: red;
	font-size: 20pt;
	font-family: didot, serif;

}

.ongoing
{

	color: white;
	font-size: 16pt;
	float: right;
	padding-right: 2%;
	padding-top: 25%;
	text-align: right;

}

.ongoing h1
{

	font-size:24pt;
	text-decoration: underline;

}

.ongoing h2
{

	font-size:20pt;
	font-style: italic;

}

.research-txt
{

	background-image: url("images/research-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height:  100%;
	color: black;
	padding-left: 1%;
	padding-top: 2%;
	padding-bottom: 2%;

}

.research-txt a
{

	color: blue;
	font-size: 12pt;
	font-family: monospace, sans-serif;
	text-decoration: underline;
	text-decoration: bold;

}

.research-txt p
{

	text-indent: 3%;
	font-size: 12pt;
	font-family: monospace, sans-serif;

}

.research-txt h1
{

	font-size:20pt;
	font-family: didot, serif;

}

.future-txt
{

	background-image: url('images/future-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	color: black;
	padding-left: 1%;
	padding-top: 2%;
	padding-bottom: 2%;

}

.future-txt h1
{

	font-size:20pt;
	font-family: didot, serif;
	text-decoration: underline;

}

.future-txt p
{

	font-size: 12pt;
	font-family: monospace, sans-serif;

}

.future-txt .future-header
{

	color: white;
	font-size: 24pt;
	font-family: didot, serif;
	font-style: italic;

}

.future-txt .accordion-button:hover{
	background-color: #8c03fc;
}

.contact-txt
{

	background-image: url('images/contact-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;

}

.contact-content
{
	color: white;
	font-size: 14pt;
	float: right;
	padding-right: 2%;
	padding-top: 20%;
	text-align: right;
}

.contact-txt h1
{

	font-size:20pt;
	font-style: italic;

}

.offcanvas-start {
	width: 50% !important;
}

.classModalAbout {
	color:  blue;
	text-decoration: underline;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23800080' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23800080' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#tooltip {
  opacity: 0;
  position: absolute;
  color: purple;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  top: 0;
  left: 0;
}

.carousel-item:hover h5 {
	color: purple;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carousel-item:hover #tooltip {
	opacity: 1;
}


/*
#offcanvasNavbar {
	width: 20%;
}

#homeButton {
	position: absolute;
	top: 5%;
	left: 2.5%;
	z-index: 999;
}

#custom-navButton {
	position: absolute;
	top: 5%;
	left: 95%;
	z-index: 999;	
}

#display-toggle-button {
	position: absolute;
	top: 5%;
	left: 46%;
	z-index: 999;
}*/
