*
{
	margin: 0;
	padding: 0;
}

header.home
{

	background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(images/Background.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.main-nav
{

	text-align: center;
	list-style: none;
	margin-top: 30px;
	width: 100%;

}

.main-nav li
{

	display: inline;

}

.main-nav a
{

	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;

}

.main-nav li.active a
{

	border: 1px solid white;

}

.main-nav li a:hover
{

	border: 1px dotted white;
	color: white;

}

html, body
{

	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;

}

.logo
{

	padding-left: 50px;

}

.logo img
{

	padding-top: 0px;
	width: 100px;
	height: auto;
	display: inline;
	float: left;

}

.links
{

	display: inline;
	float: center;

}

body
{

	font-family: monospace;

}

.row
{

	margin: auto;

}

header.about
{

	background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(images/about-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.about-txt
{

	background-color: #A9A9A9;
	font-family: monospace, sans-serif;
	font-size: 12pt;
	padding-left: 1%;
	padding-top: 2%;
	padding-bottom: 2%;

}

.about-txt p
{

	text-indent: 3%;

}

header.education
{

	background-image:linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(images/education-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.current
{

	font-family: "Roboto", sans-serif;
	color: white;
	padding-left: 2%;
	padding-top: 25%;

}

.current h1
{

	font-size: 16pt;

}

.education-txt
{

	background-color: black;
	padding-left: 1%;
	padding-top: 2%;
	padding-bottom: 2%;

}

.education-txt p
{

	color: white;
	font-size: 12pt;
	font-family: monospace, sans-serif;

}

.education-txt h1
{

	color: white;
	font-size: 20pt;
	font-family: didot, serif;

}

header.research
{

	background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(images/research-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.ongoing
{

	color: white;
	font-size: 16pt;
	float: right;
	padding-right: 2%;
	padding-top: 25%;
	text-align: right;

}

.ongoing h1
{

	font-size:24pt;
	text-decoration: underline;

}

.ongoing h2
{

	font-size:20pt;
	font-style: italic;

}

.research-txt
{

	background-color: black;
	color: white;
	padding-left: 1%;
	padding-top: 2%;
	padding-bottom: 2%;

}

.research-txt a
{

	color: white;
	font-size: 12pt;
	font-family: monospace, sans-serif;
	text-decoration: underline;
	text-decoration: bold;

}

.research-txt p
{

	text-indent: 3%;
	font-size: 12pt;
	font-family: monospace, sans-serif;

}

.research-txt h1
{

	font-size:20pt;
	font-family: didot, serif;

}

header.future
{

	background-image: url(Images/future-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.future-txt
{

	color:white;
	background-color: #858D98;
	padding-left: 1%;
	padding-top: 2%;
	padding-bottom: 2%;

}

.future-txt h1
{

	font-size:20pt;
	font-family: didot, serif;
	text-decoration: underline;

}

.future-txt p
{

	font-size: 12pt;
	font-family: monospace, sans-serif;

}

header.contact
{

	background-image: url(images/contact-bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center; 

}

.contact-txt
{

	color: white;
	font-size: 14pt;
	float: right;
	padding-right: 2%;
	padding-top: 12%;
	text-align: right;

}

.contact-txt h1
{

	font-size:20pt;
	font-style: italic;

}

